/* GLOBAL DEFAULTS (Mobile First) */
html {
    box-sizing: border-box;
    font-family: fantasy, 'Montserrat', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0; 
}

body {
    line-height: 1.6rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

:root {
    --head-font: fantasy;
    --p-font: 'Montserrat', sans-serif;
    --color1: #F8F9FA;       
    --color2: #F1F3F5;
    --color3: #212529; 
    --lightfont: whitesmoke;
    --darkfont: #212529;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--head-font);
    font-weight: normal;
    letter-spacing: 2px;
    color: var(--darkfont);
}

p, li{
    font-family: var(--p-font);
    font-weight: normal;
    font-size: 1rem;
    color: var(--darkfont);
}

.black p, .black li {
    color: var(--lightfont);
}

.black h1, .black h2, .black h3, .black h4, .black h5, .black h6 {
    color: var(--lightfont);
}

header {
    height: 50vh; 
    width: 100%;
    position: relative;
    overflow: visible;
    display: flex;
    flex-direction: column;
    margin-top: -20px;
}

header h1 {
    font-size: 3rem;
    margin: 0 auto;
    padding: 1.5rem 0 0.5rem 0;
}

#navbar {
    background-color: var(--color1);
    height: 50px;
    position : fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

#navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    padding-top: 5px;
}

#navbar ul li a {
    text-decoration: none;
    color: var(--black);
}

.block-container {
    display: flex;
    height: 100%;
}

.header-block {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem; 
}

.header-block p {
    font-weight: bolder;
    font-size: 0.8rem; 
    text-align: center;
    word-wrap: break-word;
}

.left {
    background-color: var(--color2); 
}

.left p {
    margin-right: 15%;
    color: var(--darkfont);
    
}

.right {
    background-color: var(--color3);
}

.right p {
    margin-left: 15%;
    color: var(--lightfont);
}

span.word-break {
    display: block;
    word-break: break-word;
}

#profile-pic {
    position: absolute;
    width: 120px; 
    height: 120px;
    border-radius: 50%;
    top: 70%; 
    left: 50%;
    transform: translate(-50%, -50%); 
    border: 5px solid grey;
    z-index: 10;
}

#profile-name {
    text-align: center;
    margin: 4rem 1.5rem 1.5rem; 
}

main {
    flex: 1;
    padding: 0;
}

section {
    max-width: 900px;
    margin: 0 auto;
    padding: 1rem 1.5rem;
}

div.section {
    width: 100%;
    max-width: none;
    margin: 0;
}


.skills ul {
    list-style-type: disc;
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2em 0;
    column-gap: 2rem;   
}

ul > li {
    margin-bottom: 0.5rem;
}

.white h2 {
    margin: 1.3rem 0;
    text-align: center;
    color: var(--darkfont);
}

.black h2 {
    margin: 1.3rem 0;
    text-align: center;
    color: var(--lightfont);
}

.black {
    background-color: var(--color3);
    padding: 1rem;
    color: var(--lightfont);
}

.white {
    background-color: var(--color1);
    padding: 1rem;
    color: var(--darkfont);
}

.section h3 {
    margin: 1rem;
    text-align: center;
}

.section-tiles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 0.8rem;
}

.tile {
    border: 3px solid var(--color3);
    border-radius: 10px;
    height: 245px;
    width: 250px;
    text-align: center;
}

.section-tiles img {
    width: 50%;
    height: 50%;
    margin-top: 1rem;
    padding: 1%;
    overflow: hidden;
    object-fit: contain;
}

footer {
    background-color: var(--color2);
    padding: 1rem;
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5rem;
}

footer p {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

address span {
    display: block;
}


/*MEDIA QUERIES FOR LARGER SCREENS */
@media screen and (min-width: 768px) {
    .header-block p {
        font-size: 1.2rem;
    }

    .left {
        padding-right: 10%;
    }

    .right {
        padding-left: 10%;
    }

    

    #profile-pic {
        width: 165px;
        height: 165px;
        top: 47%;
        transform: translateX(-50%);
        transition: ease-in-out 0.3s;
    }

    main {
        padding: 0 3rem;
    }

    span.word-break {
    display: inline-block;
}
}